{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^./(.*)$",
    "^../(.*)$",
    "^@nest/(.*)$",
    "^@common/(.*)$",
    "^@health/(.*)$",
    "^@database/(.*)$",
    "^@domain/(.*)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ]
}